# NEXT_PUBLIC_API_URL=https://vexenlabs.com
# NEXT_PUBLIC_SITE_URL=https://vexenlabs.com
# NEXT_PUBLIC_RAZORPAY_KEY_ID=rzp_live_XXXXXXXXXXXXXXXX
# NEXT_PUBLIC_SUPPORT_EMAIL=support@vexenlabs.com

NEXT_PUBLIC_API_URL=http://127.0.0.1:8000
NEXT_PUBLIC_RAZORPAY_KEY_ID=rzp_test_XXXXXXXX